:root {
  --header-highlight-color: #03daaf;
  --header-text-color: #dadada;
  --header-bg-color: #3b4743;

  --main-highlight-color: #008c70;
  --main-text-color: #373737;
  --main-bg-color: #bacdc7;
}

header span {
  color: var(--header-highlight-color);
}

.carousel-item,
.carousel-item img {
  height: 500px;
}

.carousel-item img {
  object-fit: cover;
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

header h1 {
  font-style: italic;
}

main {
  background-color: var(--main-bg-color);
}

main h3 {
  color: var(--main-highlight-color);
}

i {
  font-size: 2rem;
  color: var(--main-highlight-color);
}