:root {
  --header-highlight-color: #03daaf;
  --header-text-color: #dadada;
  --header-bg-color: #3b4743;

  --main-highlight-color: #008c70;
  --main-text-color: #373737;
  --main-bg-color: #bacdc7;
}

.header-highlight {
  color: var(--header-highlight-color);
}

.main-highlight {
  color: var(--main-highlight-color);
}

header {
  color: var(--header-text-color);
  background-color: var(--header-bg-color);
}

header h1 {
  font-style: italic;
}

.nav-link,
.nav-link:visited {
  color: var(--header-highlight-color);
}

.nav-link:hover {
  color: var(--main-highlight-color);
}

.dropdown-menu-dark {
  background-color: var(--header-bg-color);
}

.carousel-item,
.carousel-item img {
  height: 500px;
}

.carousel-item img {
  object-fit: cover;
}


main {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.social-icons i {
  font-size: 2rem;
}