.theme-color {
  color: #03daaf;
}

.carousel-item,
.carousel-item img {
  height: 500px;
}

.carousel-item img {
  object-fit: cover;
}

header {
  background-color: #3b4743;
  color:#dadada;
}

header h1 {
  font-style: italic;
}

main {
  background-color: #bacdc7;
}

i {
  font-size: 2rem;
  color: #008c70;
}